$cyanColor: #0ff;
$magentaColor: #f0f;
$accentColor: rgb(0, 145, 220);
$accentColorDarker: rgb(0, 165, 240);
$bgColor: rgb(0, 0, 0);
$bgColorLighter: rgb(81, 81, 81);
$bgColorLightest: rgb(111, 111, 111);
$itemColor: rgb(39, 39, 39);
$scoreBoardHeight: 140px;
$RING_BLUE: blue;
$RING_ORANGE: orange;
$RING_YELLOW: yellow;
$RING_GREEN: green;
