$cyanColor: #0ff;
$magentaColor: #f0f;

$accentColor: rgb(0, 145, 220);
$accentColorDarker: rgb(0, 165, 240);

$bgColor: rgb(20, 20, 20);
$surfaceColor: rgb(39, 39, 39);
$lighterColor: rgb(81, 81, 81);
$lightestColor: rgb(111, 111, 111);

$topBarHeight: 155px;
$sideBarWidth: 320px;

$RING_BLUE: blue;
$RING_ORANGE: orange;
$RING_YELLOW: yellow;
$RING_GREEN: green;
