$cyanColor: #0ff;
$magentaColor: #f0f;
$accentColor: rgb(210, 147, 0);
$accentColorDarker: rgb(163, 111, 0);
$bgColor: #212121;
$bgColorDarker: #000000;
$bgColorLighter: rgb(81, 81, 81);
$scoreBoardHeight: 140px;
$RING_BLUE: blue;
$RING_ORANGE: orange;
$RING_YELLOW: yellow;
$RING_GREEN: green;
